In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df = pd.DataFrame({
    "A" : np.arange(1,100),
    "B" : np.arange(101,200)
})
df.head()

   A    B
0  1  101
1  2  102
2  3  103
3  4  104
4  5  105

In [7]:
df.shape

(99, 2)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       99 non-null     int64
 1   B       99 non-null     int64
dtypes: int64(2)
memory usage: 1.7 KB

In [14]:
df["Add New"] = df["A"] + df["B"]
df.head()

   A    B  Add New
0  1  101      102
1  2  102      104
2  3  103      106
3  4  104      108
4  5  105      110

In [16]:
df ["New Columns"] = [i for i in range(99)]
df.head()

   A    B  Add New  New Columns
0  1  101      102            0
1  2  102      104            1
2  3  103      106            2
3  4  104      108            3
4  5  105      110            4